body {
    background-image: url(../img/ty-bg.jpg);
    background-size: auto 100vh;
    background-position-x: left;
}

.separator {
    background: url(../img/footer-separator.svg);
    background-repeat: repeat-x;

    margin: 40px 0 30px 0;
    height: 50px;
    width: 100%;
}

h1 {
    color: #A77D6C;
    font-family: "Tired Panda";
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-back {
    display: inline-block;
    background-color: #A77D6C;
    border: none;
    padding: 10px 25px;
}

@media (min-width: 768px) {
    body {
        background-position-x: center;
    }

    h1 {
        font-size: 90px;
    }
}